VITE_WEBSOCKET_URL=wss://your-ws-api-id.execute-api.your-region.amazonaws.com/dev?clientType=webui&deviceId=your-device-id
VITE_API_URL=https://your-http-api-id.execute-api.your-region.amazonaws.com/dev
VITE_API_TOKEN=your-api-client-jwt-token
